* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 3;
}

/* .totRepoDisplay {
  float: left;
} */
/* .textDropDown{

} */

/* .globe {
  padding: 50px 0 100px 330px;
}

.comments {
  padding: 50px 0 0 330px;
}

.github {
  padding: 50px 0 0 330px;
}

.blank {
  padding-bottom: 90px;
} */
