* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
a {
  color: #333;
  text-decoration: none;
}

/* .globeIcon .blogIcon {
  color: #ffffff;
} */
#banner {
  background-image: url(./image/banner.png);
}
#banner ul li h1 {
  text-align: center;
  padding: 50px 0 20px 0;
}

#banner ul li p {
  text-align: center;
  padding: 30px 0 100px 0;
}

.globe {
  padding: 50px 0 100px 330px;
}

.comments {
  padding: 50px 0 0 330px;
}

.github {
  padding: 50px 0 0 330px;
}

.blank {
  padding-bottom: 90px;
}
